<div style="display: flex; flex-direction: column">
    <div class="toggle-country-code-example">
        <div class="toggle-country-code-row">
            <mat-form-field>
                <mat-placeholder>Select code</mat-placeholder>
                <mat-select [(value)]="countryCode">
                    <mat-option *ngFor="let o of countryCodesList" [value]="o">
                        {{o}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="toggle-country-code-row">
            <mat-form-field>
                <ngx-phone-input [countryCode]="countryCode" [value]="'0774234567'" placeholder="Phone number"></ngx-phone-input>
            </mat-form-field>
        </div>
    </div>
    <div class="toggle-country-code-example">
        <div class="toggle-country-code-row">
            <mat-form-field>
                <ngx-phone-number-international-prefix #ref="ngxPhoneNumberInternationalPrefix"
                                                       matPrefix></ngx-phone-number-international-prefix>
                <ngx-phone-input [countryCode]="countryCodeSecond" [prefixProvider]="ref" [value]="'+40774234567'"
                                 placeholder="Phone number"></ngx-phone-input>
            </mat-form-field>
        </div>
    </div>
</div>
