@import "phone-number-theme";

:host {
    padding: 10px;
    display: block;
}

.toggle-country-code-example {
    display: flex;
    flex-direction: column;

    .selected-country-code {
        margin-right: 10px;
    }

    .toggle-country-code-row {
        margin-bottom: 10px;
    }
}
